/* extra resets*/
/*html {
    box-sizing: border-box;
    
  *, *:before, *:after {
    box-sizing: inherit;
  }
  */

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: $secondary-color;
  font-size: 16px;
}
header {
  display: flex;
  @include desktop {
    display: flex;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    height: 100%;
    width: 100%;
  }
  @include desktop {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0rem;
    align-content: flex-start;
  }
}
img {
  height: auto;
  max-width: 100%;
}
.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;

    width: 100%;
    padding: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  @include desktop {
    padding-top: 40vh;
    display: -webkit-box;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-end;
  }
}
.logo {
  text-align: left;
  padding: 0;
  margin: 0 4rem;
  @include tablet {
    flex: 0 1 25%;

    text-align: left;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 54vh 10vh 0px 0px;
  }
  @include desktop {
    flex: 0 1 25%;
    margin: 0 1rem 0 0;
    text-align: left;
    padding: 0;
  }
}
.text {
  display: flex;
  color: #c2c2c2;
  @include desktop {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #c2c2c2;
    width: max-content;
    height: max-content;
  }
}
.page-items {
  display: block;
  margin: 1.5rem auto;
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 50vh 10vh 0px 0px;
  }
  @include desktop {
    display: -webkit-box;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }
}
.selector {
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  align-self: center;
  margin: 10px;
  @include desktop {
    flex: 1 1 75%;
    width: fit-content;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: center;
  padding-top: 30%;
  padding-bottom: 10%;
  @include tablet {
    display: flex;

    justify-items: flex-end;
    padding-top: 1%;
    padding-bottom: 10%;
    margin: 50px 0px;
  }
  @include desktop {
    display: flex;

    justify-items: flex-start;
  }
}

.copyrights {
  color: #c2c2c2;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
    padding-right: 1em;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  //   .content {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     align-content: center;
  //   }
  // .site-header {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     align-content: center;
  //     flex-direction: row;
  //   }

  //   .logo {
  //     flex: 0 1 25%;

  //     text-align: left;
  //     padding: 0;
  //     display: flex;
  //     justify-content: center;
  //     align-content: center;
  //     margin: 54vh 10vh 0px 0px;
  //   }
  //   .page-items {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     align-content: center;
  //     margin: 50vh 10vh 0px 0px;
  //   }
  //   .copyrights {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: flex-end;

  //     width: 100%;
  //     padding-right: 1em;
  //   }
  footer {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
  }

  //   .footer {
  //     display: flex;

  //     justify-items: flex-end;
  //     padding-top: 1%;
  //     padding-bottom: 10%;
  //     margin: 50px 0px;
  //   }
}

@media screen and (min-width: 1000px) {
  //   .content {
  //     display: flex;
  //     justify-content: flex-start;
  //     flex-wrap: nowrap;
  //     padding: 2rem;
  //     align-content: flex-start;
  //   }

  //   .logo {
  //     flex: 0 1 25%;
  //     margin: 0 1rem 0 0;
  //     text-align: left;
  //     padding: 0;
  //   }

  .site-header {
    padding-top: 40vh;
    display: -webkit-box;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-end;
  }
  //   .page-items {
  //     display: -webkit-box;

  //     -webkit-box-orient: vertical;
  //     -webkit-box-direction: normal;
  //     flex-direction: column;
  //     -webkit-box-align: center;
  //     align-items: center;
  //     -webkit-box-pack: center;
  //     justify-content: center;
  //     padding: 0px;
  //     margin: 0px;
  //   }

  //   .selector {
  //     flex: 1 1 75%;
  //     width: fit-content;
  //   }
  //   .text {
  //     text-align: left;
  //     display: flex;
  //     flex-direction: column;
  //     justify-items: center;
  //     align-items: center;
  //     color: #c2c2c2;
  //     width: max-content;
  //     height: max-content;
  //   }
  //   .footer {
  //     display: flex;

  //     justify-items: flex-start;
  //     padding-top: 30%;
  //     padding-bottom: 10%;
  //   }
  //   .copyrights {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: flex-start;
  //     align-self: flex-start;
  //     width: 100%;
  //   }
  .container {
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    padding-right: 120px;
  }
}
